* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  background-color: grey;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 45px;
    color: #FA8072;
}

.header-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    flex-wrap: wrap;
}

.footer-container  {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
  padding: 0px;
}

p {
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
}



/* TODO: Step 4A1: Make a generic sidebar */
